@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary leading-loose text-white;
  }
  span {
    position: relative;
  }
  .under-line::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 60px;
    height: 7px;
    background-color: #a91717;
    border-radius: 10px;
  }
  .h1 {
    @apply text-[48px] font-semibold leading-[1.1] xl:text-[80px];
  }
  .h2 {
    @apply text-[36px] font-semibold leading-[1.1] xl:text-[48px];
  }
  .h3 {
    @apply text-[20px] font-semibold leading-[1.1] xl:text-[24px];
  }

  .text-animation {
  }
}
